{% load static %}
{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Liste des agences</title>
    <link rel="stylesheet" href="{% static 'agencies.css' %}">
    {% tailwind_css %}
</head>


<body>
<div class="grid justify-center">
    <h1 class="font-medium leading-tight text-5xl mt-0 mb-2 text-blue-600 ">Agencies</h1>
</div>
<div class="grid gap-4 grid-cols-3 grid-rows-3">
    {% for agency in agencies %}
        <a href="#"
           class="block p-6 max-w-sm bg-white rounded-lg border border-gray-200 shadow-md hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">
            <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">{{ agency.agencyName |join:", " }}</h5>
            <p class="font-normal text-gray-700 dark:text-gray-400">Here are the biggest enterprise technology
                acquisitions
                of 2021 so far, in reverse chronological order.</p>
        </a>
    {% endfor %}
</div>
</body>
</html>